* {
  image-rendering: pixelated;
}

#gui {
  width: auto;

}
@keyframes slidy {
  0% {left: 0px;}
  100% {left: -312px;}
}

img {
  display: none;
}

.pointeur {
     cursor:url("tronco.gif"), auto;
}
